<mat-toolbar class="header">
  <pre class="sexy-ascii-header" style="line-height: 1;">
    _____            _       _        ______            __     ______                 __            
   / ___/____ ___ _ (_)___ _( )___   /_  __/___ _ ___  / /__  /_  __/____ ___ _ ____ / /__ ___  ____
  / /__ / __// _ `// // _ `/|/(_-<    / /  / _ `/(_-< /  '_/   / /  / __// _ `// __//  '_// -_)/ __/
  \___//_/   \_,_//_/ \_, /  /___/   /_/   \_,_//___//_/\_\   /_/  /_/   \_,_/ \__//_/\_\ \__//_/   
                     /___/                                                                          
  </pre>
  <span class="narrow-header">Task Tracker</span>
  <button mat-raised-button color="primary" (click)="addNewTaskTemplate()">New Task</button>
</mat-toolbar>

<div [hidden]="loading">
  <app-task-table title="Planned Tasks" [taskList]="plannedTaskList"></app-task-table>

  <app-task-table title="In Progress Tasks" [taskList]="inProgressTaskList"></app-task-table>

  <app-task-table title="Completed Tasks" [taskList]="completedTaskList"></app-task-table>
</div>

<mat-spinner class="loader" *ngIf="loading">
</mat-spinner>

<!-- Exercise: Task tracker  
 Please develop a small SPA with this simple requirements:  
 * Present visually a list of tasks in 3 different states: Planned, In progress, Completed.  
 * Each task contains, name, description, estimate and state.  
 * The user needs to be able to add/remove and change the state of the tasks. 
 * Somewhere in the SPA you need to present an up to date status, adding up all hours for each state. 
 Notes:  
 You can assume it's a single user SPA, and there's no need to store data; but the user needs to be able to add/remove and see tasks.  Mocking a REST api is suggested.  
 You can reuse any existing library, but please distribute the solution with them.  
 Write code as you would for production, having in mind that usability is important as well. -->