<div class="table-title">{{title}}</div>
<mat-card class="table-card">

  <span class="task-table" [hidden]="taskList.length === 0">

    <span class="table-header-row">
      <div class="column name">
        Name
      </div>
      <div class="column description">
        Description
      </div>
      <div class="column estimate">
        Estimate
      </div>
    </span>

    <span *ngFor="let item of taskList">
      <span class="table-row" [ngClass]="{'table-row-delete': item.isDeleted}">
        <div class="column name">
          {{item.name}}
        </div>
        <div class="column description">
          {{item.description}}
        </div>
        <div class="column estimate">
          {{'Day(s): ' + item.estimate.days + ' Hour(s): ' + item.estimate.hours + ' Minute(s): ' + item.estimate.minutes}}
        </div>
        <div class="ml-a justify-content-between">
          <button mat-icon-button (click)="editTask(item)">
            <mat-icon svgIcon="edit"></mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTask(item)">
            <mat-icon svgIcon="delete_filled"></mat-icon>
          </button>
          <!-- <button matTooltip="Cancel deletion" *ngIf="item.isDeleted" mat-icon-button color="warn" (click)="deleteTask(item)">
            <mat-icon svgIcon="undo"></mat-icon>
          </button> -->
        </div>
      </span>
    </span>

  </span>

  <div class="empty-message" [hidden]="taskList.length > 0">
    There are no {{title}} to display.
  </div>
</mat-card>