.table-title {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	font-size: 24px;
}
.table-estimate-total {
	font-size: 16px;
	margin-left: 50px;
}

.table-card {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
	padding: 0;
}

.task-table {
	display: flex;
	flex-direction: column;
}

.table-header-row {
	display: flex;
	font-size: 20px;
	border-bottom: 1px solid rgb(39, 39, 39);
	height: 65px;
	align-items: center;
	padding-left: 15px;
	font-weight: 500;
}

.table-row:hover {
	background-color: #6f6f6f;
}
.table-row {
	display: flex;
	min-height: 40px;
	max-height: 150px;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}
.table-row-delete {
	background-color: hsl(0, 55%, 17%);
	opacity: 50%;
}
.table-row:not(last-child) {
	border-bottom: 1px solid rgb(39, 39, 39);
}

.column {
	padding-right: 15px;
}
.name {
	width: 200px;
}
.description {
	width: 850px;
}
.estimate {
	width: 300px;
}
.status {
	width: 150px;
}

.empty-message {
	padding: 20px;
}