/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
	background-color: #2e7d32 !important;
	color: white;
}
.error-snackbar {
	background-color: #c62828 !important;
	color: white;
}

.d-flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
	display: flex;
}
.align-items-center {
	align-items: center;
	display: flex;
}
.justify-content-center {
	justify-content: center;
	display: flex;
}
.justify-content-between {
	justify-content: space-between;
	display: flex;
}
.mt-3 {
	margin-top: 15px;
}
.mr-3 {
	margin-right: 15px;
}
.mr-2 {
	margin-right: 10px;
}
.mr-1 {
	margin-right: 5px;
}
.mx-3 {
	margin-right: 15px;
	margin-left: 15px;
}
.mt-a {
	margin-top: auto;
}
.ml-a {
	margin-left: auto;
}
.mr-a {
	margin-right: auto;
}
.w-100 {
	width: 100%;
}
.h-100 {
	height: 100%;
}
